#CACHE{2592000}
<!--[if lt IE 10]>
	<p class="chromeframe">You are using an <b>outdated</b> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<noscript>
	<p class="noscriptframe">You have not enabled <b>Javascript</b> on your browser. This website relies a lot on Javascript capabilities. Please read the <a href="http://www.enable-javascript.com/" target="_blank">
instructions how to enable JavaScript in your web browser</a> or <a href="#URL_PAGE{textonly}">switch to the text-only version of this website</a>.</p>
</noscript>

	<p class="chromeframe">All is good mate.</p>