#CACHE{2592000}
<script>
// detect old msie (<10)
// returns true if bw is compatible
$(document).on("ready",function(){
	var app.ww = $(window).width(),
		loc = null;
	if(app.ww < 767)
		loc = "#URL_PAGE{mobile}";
	var bw = function(){
		var ua = navigator.userAgent.indexOf('MSIE')
		return ! (ua
			&& parseInt(navigator.userAgent.substring(l+5,l+9).split(".")[0]) < 10);
	}
	if(bw()){
		loc = <BOUCLE_principale(RUBRIQUES){id_rubrique=1}>"#URL_RUBRIQUE"</BOUCLE_principale>;
	}
	if(loc) window.location.href = loc;
});
</script>
