// Apple iPad dimensions are 1024px x 768px
// Samsung Galaxy tab 2 dims are 1280px x 800px
// targeting only handled
@media handled and (max-width: 1080px) {
	body{
		font-size:12px;
		line-height:16px;
	}
	section.sec3 .encart article h2, 
		section.sec1 article h2, 
		section.sec5 .encart article h2,
		article h2{
		padding:7px 0 0 0;
		font-size:18px;
		margin-bottom:0;
	}
	
	.sec3 .encart article{
		padding-top:10px;
	}
}