section.sec4{
	article{
		padding-top:50px;
		h2{
			padding:15px 0 20px 0;
			background: transparent url(../images/_coutures/couture-red.png) repeat-x scroll top left;
		}
	}
	background: #f4f4f4 url(../images/_textures/dust.png) repeat scroll top center;

	.colonne, .colonnes{
		text-align:center;
		article{
			margin:0 auto; // center the article when max-width is reached
		}
	}
	.shadow{
		background: transparent url(../images/clients/shadow.png) no-repeat scroll top center;
	}
	.cinquante{
		height:50%;
	}
}