section.sec4{
	background: transparent url(../images/_textures/dust.png) repeat scroll top center;

	.colonne, .colonnes{
		text-align:center;
	}
	.shadow{
		background: transparent url(../images/clients/shadow.png) no-repeat scroll top center;
	}
	.cinquante{
		height:50%;
	}
}