.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url(../typos/vollkorn-regular-webfont.ttf) format('truetype');
  src: local('Vollkorn Regular'), local('Vollkorn-Regular'), url(../typos/vollkorn-regular-webfont.woff) format('woff');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  src: local('Vollkorn Bold'), local('Vollkorn-Bold'), url(../typos/vollkorn-bold-webfont.ttf) format('truetype');
  src: local('Vollkorn Bold'), local('Vollkorn-Bold'), url(../typos/vollkorn-bold-webfont.woff) format('woff');
}
*/
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 400;
  src: local('Vollkorn Italic'), local('Vollkorn-Italic'), url(../typos/vollkorn-italic-webfont.ttf) format('truetype');
  src: local('Vollkorn Italic'), local('Vollkorn-Italic'), url(../typos/vollkorn-italic-webfont.woff) format('woff');
}
/*
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  src: local('Vollkorn Bold Italic'), local('Vollkorn-BoldItalic'), url(../typos/vollkorn-bolditalic-webfont.ttf) format('truetype');
  src: local('Vollkorn Bold Italic'), local('Vollkorn-BoldItalic'), url(../typos/vollkorn-bolditalic-webfont.woff) format('woff');
}
*/
@font-face {
  font-family: 'Idealist';
  font-style: normal;
  font-weight: 400;
  src: local('Idealist Regular'), local('Idealist-Regular'), url(../typos/idealist_sans_light-webfont.ttf) format('truetype');
  src: local('Idealist Regular'), local('Idealist-Regular'), url(../typos/idealist_sans_light-webfont.woff) format('woff');
}
@font-face {
  font-family: 'Idealist';
  font-style: normal;
  font-weight: 700;
  src: local('Idealist Bold'), local('Idealist-Bold'), url(../typos/idealist_sans-webfont.ttf) format('truetype');
  src: local('Idealist Bold'), local('Idealist-Bold'), url(../typos/idealist_sans-webfont.woff) format('woff');
}
body {
  margin: 0;
  padding: 0;
}
section {
  position: relative;
}
section.sec3,
section.sec4,
section.sec5 {
  background-color: #fff;
}
section h1 {
  margin: 0;
}
.floating {
  z-index: 1000;
  position: fixed;
  width: 60px;
  height: 50px;
  padding: 0;
  background: yellow;
  right: 10px;
  cursor: move;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: transparent url(../images/menu/dragndrop.png) no-repeat scroll left -50px;
  font: 14px Vollkorn, Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
}
.floating.active {
  background-position: left top;
  visibility: visible;
  width: 140px;
  padding-left: 60px;
  height: 35px;
  padding-top: 15px;
}
.filconducteur {
  position: absolute;
  height: 100%;
  right: 270px;
  width: 8px;
  background: transparent url(../images/menu/fil.png) repeat-y scroll top left;
  z-index: 99;
}
.grille .ligne {
  clear: both;
}
.grille .colonne,
.grille .colonnes {
  float: left;
}
.grille .une {
  width: 10%;
}
.grille .deux {
  width: 20%;
}
.grille .trois {
  width: 30%;
}
.grille .quatre {
  width: 40%;
}
.grille .cinq {
  width: 50%;
}
.grille .six {
  width: 60%;
}
.grille .sept {
  width: 70%;
}
.grille .huit {
  width: 80%;
}
.grille .neuf {
  width: 90%;
}
.grille .dix {
  width: 100%;
}
section.sec0 {
  background-color: #444;
}
section.sec0 .cover {
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent url(../images/home/bg-1200.jpg) repeat scroll top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.sec0 .intro {
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 72px;
  line-height: 64px;
  font: normal normal bold 72px Arial, sans-serif;
  color: #fff;
  text-align: center;
}
section.sec0 .intro .logo {
  margin: auto;
  background: transparent url(../images/home/logo-est-white.svg) no-repeat scroll top left;
  -webkit-background-size: 150px;
  -moz-background-size: 150px;
  -o-background-size: 150px;
  background-size: 150px;
  width: 150px;
  height: 85px;
}
section.sec0 .intro .baseline {
  margin: auto;
  background: transparent url(../images/home/baseline.png) no-repeat scroll top left;
  width: 440px;
  height: 115px;
}
section.sec0 .intro .social {
  margin: -50px auto 0 auto;
}
section.sec1 {
  background-color: #f2f2f2;
}
section.sec1 .colonne,
section.sec1 .colonnes {
  background-color: #fff;
}
section.sec1 .flickr {
  background-size: cover;
  background-repeat: no-repeat;
}
section.sec1 .tweet {
  text-align: center;
  background: #ffffff url(../images/life/twitter_background.gif) no-repeat scroll center center;
}
section.sec1 .tweet .description {
  padding: 0 1em;
}
section.sec1 .tweet .date {
  display: none;
}
section.sec1 article h2 {
  padding: 15px 0 20px 0;
  background: transparent url(../images/_coutures/couture-red.png) repeat-x scroll top left;
}
section.sec2 {
  background-color: #dadada;
}
section.sec2 .mate {
  text-align: center;
  background-color: #dadada;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center bottom;
}
section.sec2 .mate .top,
section.sec2 .mate .bottom {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}
section.sec2 .mate .top {
  border-bottom: 5px #9d261d solid;
}
section.sec2 .mate .top .fname {
  font-family: Vollkorn, Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  line-height: 1em;
  font-style: italic;
  font-weight: normal;
  color: #ffffff;
}
section.sec2 .mate .top .job {
  font-size: 14px;
}
section.sec2 .mate .bottom {
  border-top: 5px #9d261d solid;
}
section.sec2 .mate .bottom .quote {
  background-image: url(../images/team/guillemet-01.png), url(../images/team/guillemet-02.png);
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  font-family: Vollkorn, Georgia, "Times New Roman", Times, serif;
  font-size: 1.6em;
  line-height: 1em;
  font-style: italic;
  font-weight: normal;
  padding: .5em;
  margin: .5em;
  opacity: .7;
}
section.sec2 .mate .eyes {
  position: absolute;
  background-repeat: no-repeat;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row {
  margin-top: 0;
  padding-top: 100px;
}
#someotherstuff {
  height: 900px;
  background-color: silver;
}
#howwework {
  width: 1440px;
  position: relative;
}
#howwework .illus {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  position: absolute;
}
#howwework .illus span {
  display: none;
}
#howwework .illus.yes {
  background-image: url(../images/_badges/yes.png);
  width: 135px;
  height: 120px;
}
#howwework .illus.yes.small {
  background-image: url(../images/_badges/yes-small.png);
  width: 94px;
  height: 81px;
}
#howwework .illus.no {
  background-image: url(../images/_badges/no.png);
  width: 125px;
  height: 120px;
}
#howwework .illus.no.small {
  background-image: url(../images/_badges/no-small.png);
  width: 82px;
  height: 81px;
}
#howwework .illus.ab {
  background-image: url(../images/_arrows/arrow-black.png);
  width: 40px;
  height: 40px;
}
#howwework .illus.aw {
  background-image: url(../images/_arrows/arrow-white.png);
  width: 40px;
  height: 40px;
}
#howwework .illus.arrow00 {
  left: 595px;
  top: 650px;
  -webkit-transform: rotate(200deg);
  -moz-transform: rotate(200deg);
  -ms-transform: rotate(200deg);
  -o-transform: rotate(200deg);
  transform: rotate(200deg);
}
#howwework .illus.arrow01 {
  left: 795px;
  top: 211px;
  -webkit-transform: rotate(305deg);
  -moz-transform: rotate(305deg);
  -ms-transform: rotate(305deg);
  -o-transform: rotate(305deg);
  transform: rotate(305deg);
}
#howwework .illus.arrow02 {
  left: 465px;
  top: 472px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
#howwework .illus.arrow03 {
  left: 765px;
  top: 948px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
#howwework .illus.arrow04 {
  left: 126px;
  top: 1000px;
  -webkit-transform: rotate(260deg);
  -moz-transform: rotate(260deg);
  -ms-transform: rotate(260deg);
  -o-transform: rotate(260deg);
  transform: rotate(260deg);
}
#howwework .illus.arrow05 {
  left: 435px;
  top: 1230px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
#howwework .illus.arrow06 {
  left: 255px;
  top: 2085px;
  -webkit-transform: rotate(231deg);
  -moz-transform: rotate(231deg);
  -ms-transform: rotate(231deg);
  -o-transform: rotate(231deg);
  transform: rotate(231deg);
}
#howwework .illus.welcome {
  background-image: url(../images/_badges/welcome.png);
  width: 210px;
  height: 210px;
  left: 960px;
  top: 70px;
}
#howwework .illus.welcome.fixed {
  visibility: hidden;
}
#howwework .illus.coffee {
  background-image: url(../images/_illustrations/cup-of-coffe-01.png);
  width: 200px;
  height: 200px;
  left: 900px;
  top: 290px;
}
#howwework .illus.coffeeribbon {
  background-image: url(../images/_ribbons/ribbon-01.png);
  width: 320px;
  height: 110px;
  left: 830px;
  top: 464px;
}
#howwework .illus.coffeeyes {
  left: 700px;
  top: 630px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
#howwework .illus.coffeeno {
  left: 865px;
  top: 830px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
#howwework .illus.sugar {
  background-image: url(../images/_illustrations/sugar.png);
  width: 310px;
  height: 120px;
  left: 240px;
  top: 530px;
}
#howwework .illus.sugarribbon {
  background-image: url(../images/_ribbons/ribbon-02.png);
  width: 350px;
  height: 55px;
  left: 223px;
  top: 630px;
}
#howwework .illus.sugarwith {
  background-image: url(../images/_badges/with.png);
  width: 100px;
  height: 100px;
  left: 315px;
  top: 770px;
}
#howwework .illus.sugarwithout {
  background-image: url(../images/_badges/without.png);
  width: 100px;
  height: 100px;
  left: 450px;
  top: 770px;
}
#howwework .illus.visionribbon {
  background-image: url(../images/_ribbons/ribbon-03.png);
  width: 381px;
  height: 105px;
  left: 310px;
  top: 1100px;
}
#howwework .illus.visionyes {
  left: 800px;
  top: 1230px;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
#howwework .illus.boat {
  background-image: url(../images/_illustrations/boat.png);
  width: 322px;
  height: 213px;
  left: 355px;
  top: 1300px;
}
#howwework .illus.boat .fil.peche {
  position: absolute;
  background-color: #333;
  width: 1px;
  height: 440px;
  left: 320px;
  top: 73px;
}
#howwework .illus.birds {
  background-image: url(../images/_illustrations/birds.png);
  width: 73px;
  height: 60px;
  left: 210px;
  top: 1250px;
}
#howwework .illus.agencyno {
  left: 328px;
  top: 2220px;
  -webkit-transform: rotate(27deg);
  -moz-transform: rotate(27deg);
  -ms-transform: rotate(27deg);
  -o-transform: rotate(27deg);
  transform: rotate(27deg);
}
#howwework .illus.coffre {
  background-image: url(../images/_illustrations/coffre.png);
  width: 185px;
  height: 177px;
  top: 2355px;
  left: 95px;
  z-index: 101;
}
#howwework .illus.bubblecoffre {
  background-image: url(../images/_illustrations/bubble-small.png);
  width: 41px;
  height: 88px;
  left: 148px;
  top: 2359px;
  z-index: 107;
}
#howwework .illus.coffreyes {
  top: 2526px;
  left: 182px;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
}
#howwework .illus.usfindoutribbon {
  background-image: url(../images/_ribbons/ribbon-05.png);
  width: 306px;
  height: 91px;
  top: 2436px;
  left: 368px;
  z-index: 102;
}
#howwework .illus.hookno {
  top: 2436px;
  left: 595px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
  z-index: 103;
}
#howwework .illus.couldfindoutribbon {
  background-image: url(../images/_ribbons/ribbon-06.png);
  width: 309px;
  height: 84px;
  top: 2447px;
  left: 697px;
  z-index: 104;
}
#howwework .illus.notebook {
  background-image: url(../images/_illustrations/notebook.png);
  width: 576px;
  height: 448px;
  left: 110px;
  top: 2617px;
  z-index: 105;
}
#howwework .illus.paper {
  background-image: url(../images/_illustrations/paper.png);
  width: 591px;
  height: 487px;
  left: 401px;
  top: 2763px;
  z-index: 106;
}
#howwework .illus.arrow07 {
  left: 635px;
  top: 2570px;
  -webkit-transform: rotate(136deg);
  -moz-transform: rotate(136deg);
  -ms-transform: rotate(136deg);
  -o-transform: rotate(136deg);
  transform: rotate(136deg);
}
#howwework .illus.arrow08 {
  left: 235px;
  top: 2600px;
  -webkit-transform: rotate(94deg);
  -moz-transform: rotate(94deg);
  -ms-transform: rotate(94deg);
  -o-transform: rotate(94deg);
  transform: rotate(94deg);
}
#howwework .illus.arrow09 {
  left: 800px;
  top: 2718px;
  -webkit-transform: rotate(177deg);
  -moz-transform: rotate(177deg);
  -ms-transform: rotate(177deg);
  -o-transform: rotate(177deg);
  transform: rotate(177deg);
}
#howwework .illus.arrow10 {
  left: 235px;
  top: 3050px;
  -webkit-transform: rotate(55deg);
  -moz-transform: rotate(55deg);
  -ms-transform: rotate(55deg);
  -o-transform: rotate(55deg);
  transform: rotate(55deg);
}
#howwework .illus.arrow11 {
  left: 127px;
  top: 3205px;
  -webkit-transform: rotate(269deg);
  -moz-transform: rotate(269deg);
  -ms-transform: rotate(269deg);
  -o-transform: rotate(269deg);
  transform: rotate(269deg);
}
#howwework .illus.arrow12 {
  left: 920px;
  top: 3395px;
  -webkit-transform: rotate(110deg);
  -moz-transform: rotate(110deg);
  -ms-transform: rotate(110deg);
  -o-transform: rotate(110deg);
  transform: rotate(110deg);
}
#howwework .illus.arrow13 {
  left: 415px;
  top: 3683px;
  -webkit-transform: rotate(202deg);
  -moz-transform: rotate(202deg);
  -ms-transform: rotate(202deg);
  -o-transform: rotate(202deg);
  transform: rotate(202deg);
}
#howwework .illus.arrow14 {
  left: 915px;
  top: 3867px;
  -webkit-transform: rotate(46deg);
  -moz-transform: rotate(46deg);
  -ms-transform: rotate(46deg);
  -o-transform: rotate(46deg);
  transform: rotate(46deg);
}
#howwework .illus.arrow15 {
  left: 1035px;
  top: 4110px;
  -webkit-transform: rotate(24deg);
  -moz-transform: rotate(24deg);
  -ms-transform: rotate(24deg);
  -o-transform: rotate(24deg);
  transform: rotate(24deg);
}
#howwework .illus.arrow16 {
  left: 890px;
  top: 4700px;
  -webkit-transform: rotate(136deg);
  -moz-transform: rotate(136deg);
  -ms-transform: rotate(136deg);
  -o-transform: rotate(136deg);
  transform: rotate(136deg);
}
#howwework .illus.arrow17 {
  left: 233px;
  top: 5987px;
  -webkit-transform: rotate(41deg);
  -moz-transform: rotate(41deg);
  -ms-transform: rotate(41deg);
  -o-transform: rotate(41deg);
  transform: rotate(41deg);
}
#howwework .illus.arrow18 {
  left: 96px;
  top: 3155px;
  -webkit-transform: rotate(283deg);
  -moz-transform: rotate(283deg);
  -ms-transform: rotate(283deg);
  -o-transform: rotate(283deg);
  transform: rotate(283deg);
}
#howwework .illus.arrow19 {
  left: 168px;
  top: 3168px;
  -webkit-transform: rotate(253deg);
  -moz-transform: rotate(253deg);
  -ms-transform: rotate(253deg);
  -o-transform: rotate(253deg);
  transform: rotate(253deg);
}
#howwework .illus.arrow20 {
  left: 315px;
  top: 3590px;
  -webkit-transform: rotate(88deg);
  -moz-transform: rotate(88deg);
  -ms-transform: rotate(88deg);
  -o-transform: rotate(88deg);
  transform: rotate(88deg);
}
#howwework .illus.arrow21 {
  left: 69px;
  top: 3858px;
  -webkit-transform: rotate(255deg);
  -moz-transform: rotate(255deg);
  -ms-transform: rotate(255deg);
  -o-transform: rotate(255deg);
  transform: rotate(255deg);
}
#howwework .illus.arrow22 {
  left: 177px;
  top: 3850px;
  -webkit-transform: rotate(97deg);
  -moz-transform: rotate(97deg);
  -ms-transform: rotate(97deg);
  -o-transform: rotate(97deg);
  transform: rotate(97deg);
}
#howwework .illus.arrow23 {
  left: 1364px;
  top: 3970px;
  -webkit-transform: rotate(267deg);
  -moz-transform: rotate(267deg);
  -ms-transform: rotate(267deg);
  -o-transform: rotate(267deg);
  transform: rotate(267deg);
}
#howwework .illus.arrow24 {
  left: 1290px;
  top: 4250px;
  -webkit-transform: rotate(129deg);
  -moz-transform: rotate(129deg);
  -ms-transform: rotate(129deg);
  -o-transform: rotate(129deg);
  transform: rotate(129deg);
}
#howwework .illus.arrow25 {
  left: 1118px;
  top: 4336px;
  -webkit-transform: rotate(78deg);
  -moz-transform: rotate(78deg);
  -ms-transform: rotate(78deg);
  -o-transform: rotate(78deg);
  transform: rotate(78deg);
}
#howwework .illus.arrow26 {
  left: 1362px;
  top: 4636px;
  -webkit-transform: rotate(84deg);
  -moz-transform: rotate(84deg);
  -ms-transform: rotate(84deg);
  -o-transform: rotate(84deg);
  transform: rotate(84deg);
}
#howwework .illus.arrow27 {
  left: 800px;
  top: 4657px;
  -webkit-transform: rotate(173deg);
  -moz-transform: rotate(173deg);
  -ms-transform: rotate(173deg);
  -o-transform: rotate(173deg);
  transform: rotate(173deg);
}
#howwework .illus.arrow28 {
  left: 1090px;
  top: 4732px;
  -webkit-transform: rotate(122deg);
  -moz-transform: rotate(122deg);
  -ms-transform: rotate(122deg);
  -o-transform: rotate(122deg);
  transform: rotate(122deg);
}
#howwework .illus.arrow29 {
  left: 1280px;
  top: 5545px;
  -webkit-transform: rotate(298deg);
  -moz-transform: rotate(298deg);
  -ms-transform: rotate(298deg);
  -o-transform: rotate(298deg);
  transform: rotate(298deg);
}
#howwework .illus.understandno {
  top: 3078px;
  left: 558px;
  -webkit-transform: rotate(-13deg);
  -moz-transform: rotate(-13deg);
  -ms-transform: rotate(-13deg);
  -o-transform: rotate(-13deg);
  transform: rotate(-13deg);
}
#howwework .illus.understandyes {
  top: 3090px;
  left: 873px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
#howwework .illus.budgetno {
  top: 3430px;
  left: 300px;
  -webkit-transform: rotate(16deg);
  -moz-transform: rotate(16deg);
  -ms-transform: rotate(16deg);
  -o-transform: rotate(16deg);
  transform: rotate(16deg);
}
#howwework .illus.bag {
  background-image: url(../images/_illustrations/bag.png);
  width: 191px;
  height: 280px;
  top: 3375px;
  left: 450px;
}
#howwework .illus.money {
  background-image: url(../images/_illustrations/money.png);
  width: 217px;
  height: 69px;
  top: 3608px;
  left: 372px;
}
#howwework .illus.budgetribbon {
  background-image: url(../images/_ribbons/ribbon-07.png);
  width: 246px;
  height: 127px;
  top: 3480px;
  left: 455px;
}
#howwework .illus.budgetyes {
  top: 3580px;
  left: 728px;
  -webkit-transform: rotate(13deg);
  -moz-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  -o-transform: rotate(13deg);
  transform: rotate(13deg);
}
#howwework .illus.maybe {
  background-image: url(../images/_badges/maybe.png);
  width: 133px;
  height: 116px;
  top: 3677px;
  left: 523px;
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
  transform: rotate(-12deg);
}
#howwework .illus.futureribbon {
  background-image: url(../images/_ribbons/ribbon-08.png);
  width: 251px;
  height: 133px;
  top: 3717px;
  left: 253px;
}
#howwework .illus.futureno {
  top: 3710px;
  left: 105px;
  -webkit-transform: rotate(16deg);
  -moz-transform: rotate(16deg);
  -ms-transform: rotate(16deg);
  -o-transform: rotate(16deg);
  transform: rotate(16deg);
}
#howwework .illus.out {
  background-image: url(../images/_badges/out.png);
  width: 214px;
  height: 213px;
  top: 3899px;
  left: 67px;
}
#howwework .illus.coffemaker {
  background-image: url(../images/_illustrations/coffe-maker.png);
  width: 226px;
  height: 300px;
  top: 3713px;
  left: 1040px;
}
#howwework .illus.morecoffeeribbon {
  background-image: url(../images/_ribbons/ribbon-10.png);
  width: 225px;
  height: 59px;
  top: 3862px;
  left: 1025px;
}
#howwework .illus.morecoffeeno {
  top: 3935px;
  left: 1205px;
  -webkit-transform: rotate(16deg);
  -moz-transform: rotate(16deg);
  -ms-transform: rotate(16deg);
  -o-transform: rotate(16deg);
  transform: rotate(16deg);
}
#howwework .illus.morecoffeeyes {
  top: 3950px;
  left: 871px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
#howwework .illus.coffeesmall {
  background-image: url(../images/_illustrations/cup-of-coffe-02.png);
  width: 132px;
  height: 140px;
  top: 4090px;
  left: 1155px;
}
#howwework .illus.blurwhitechess {
  background-image: url(../images/_illustrations/chess-02.png);
  width: 165px;
  height: 330px;
  top: 4115px;
  left: 972px;
}
#howwework .illus.strategyribbon {
  background-image: url(../images/_ribbons/ribbon-11.png);
  width: 385px;
  height: 115px;
  top: 4200px;
  left: 795px;
}
#howwework .illus.whitechess {
  background-image: url(../images/_illustrations/chess-01.png);
  width: 246px;
  height: 497px;
  top: 3948px;
  left: 663px;
}
#howwework .illus.blackchess {
  background-image: url(../images/_illustrations/chess-03.png);
  width: 171px;
  height: 352px;
  top: 4204px;
  left: 357px;
  -webkit-transform: rotate(-98deg);
  -moz-transform: rotate(-98deg);
  -ms-transform: rotate(-98deg);
  -o-transform: rotate(-98deg);
  transform: rotate(-98deg);
}
#howwework .illus.exclamation {
  background-image: url(../images/_illustrations/exclamation.png);
  width: 125px;
  height: 240px;
  top: 4347px;
  left: 502px;
}
#howwework .illus.strategyno {
  top: 4591px;
  left: 583px;
  -webkit-transform: rotate(-18deg);
  -moz-transform: rotate(-18deg);
  -ms-transform: rotate(-18deg);
  -o-transform: rotate(-18deg);
  transform: rotate(-18deg);
}
#howwework .illus.strategyes {
  top: 4569px;
  left: 937px;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
#howwework .illus.designo {
  top: 4791px;
  left: 1009px;
  -webkit-transform: rotate(13deg);
  -moz-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  -o-transform: rotate(13deg);
  transform: rotate(13deg);
}
#howwework .illus.designribbon {
  background-image: url(../images/_ribbons/ribbon-09.png);
  width: 399px;
  height: 52px;
  top: 4842px;
  left: 524px;
}
#howwework .illus.color {
  background-image: url(../images/_illustrations/all_color.png);
  width: 375px;
  height: 275px;
  top: 4950px;
  left: 539px;
}
#howwework .illus.box {
  background-image: url(../images/_illustrations/est-box.png);
  width: 566px;
  height: 574px;
  top: 5312px;
  left: 444px;
}
#howwework .illus.boxshadow {
  background-image: url(../images/_illustrations/est-box-shadow.png);
  width: 1242px;
  height: 567px;
  top: 5668px;
  left: 151px;
}
#howwework .illus.leftglass {
  background-image: url(../images/_illustrations/verre.png);
  width: 105px;
  height: 364px;
  top: 5249px;
  left: 1030px;
}
#howwework .illus.rightglass {
  background-image: url(../images/_illustrations/verre.png);
  width: 105px;
  height: 364px;
  top: 5196px;
  left: 1134px;
  -webkit-transform: rotate(-16deg);
  -moz-transform: rotate(-16deg);
  -ms-transform: rotate(-16deg);
  -o-transform: rotate(-16deg);
  transform: rotate(-16deg);
}
#howwework .illus.readyno {
  top: 5618px;
  left: 1159px;
  -webkit-transform: rotate(34deg);
  -moz-transform: rotate(34deg);
  -ms-transform: rotate(34deg);
  -o-transform: rotate(34deg);
  transform: rotate(34deg);
}
#howwework .illus.readyes {
  top: 5812px;
  left: 252px;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
}
#howwework .illus.ruler {
  background-image: url(../images/_illustrations/ruler.png);
  width: 698px;
  height: 148px;
  top: 6054px;
  left: 435px;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
}
#howwework .water {
  background-image: url(../images/howwework/water.png), url(../images/howwework/cristal.png);
  background-attachment: scroll,scroll;
  background-repeat: repeat-x, no-repeat;
  background-position: top left,bottom left;
  z-index: 100;
  width: 100%;
  height: 1170px;
  top: 1700px;
  left: 0;
  position: absolute;
}
#howwework .water .fil.peche {
  position: absolute;
  background-color: #333;
  width: 1px;
  height: 1030px;
  left: 675px;
  top: 0;
}
#howwework .water .illus.doyouknowribbon {
  background-image: url(../images/_ribbons/ribbon-04.png);
  width: 250px;
  height: 55px;
  left: 650px;
  top: 50px;
}
#howwework .water .illus.bubblebig {
  background-image: url(../images/_illustrations/bubble-big.png);
  width: 226px;
  height: 461px;
  left: 53px;
  top: 125px;
}
#howwework .water .illus.bubblemed {
  background-image: url(../images/_illustrations/bubble-med.png);
  width: 62px;
  height: 132px;
  left: 904px;
  top: 688px;
}
#howwework .water .illus.bubblesmall01 {
  background-image: url(../images/_illustrations/bubble-small.png);
  width: 41px;
  height: 88px;
  left: 903px;
  top: 170px;
}
#howwework .water .illus.bubblesmall02 {
  background-image: url(../images/_illustrations/bubble-small.png);
  width: 41px;
  height: 88px;
  left: 624px;
  top: 392px;
}
#howwework .water .illus.bubblesmall03 {
  background-image: url(../images/_illustrations/bubble-small.png);
  width: 41px;
  height: 88px;
  left: 553px;
  top: 773px;
}
#howwework .water .illus.fish01 {
  background-image: url(../images/_fishes/fish-01.png);
  width: 164px;
  height: 106px;
  left: 540px;
  top: 120px;
}
#howwework .water .illus.fish02 {
  background-image: url(../images/_fishes/fish-02.png);
  width: 223px;
  height: 143px;
  left: 580px;
  top: 260px;
}
#howwework .water .illus.fish03 {
  background-image: url(../images/_fishes/fish-03.png);
  width: 103px;
  height: 68px;
  left: 675px;
  top: 370px;
}
#howwework .water .illus.fish04 {
  background-image: url(../images/_fishes/fish-04.png);
  width: 176px;
  height: 114px;
  left: 740px;
  top: 370px;
}
#howwework .water .illus.fish05 {
  background-image: url(../images/_fishes/fish-05.png);
  width: 199px;
  height: 128px;
  left: 365px;
  top: 357px;
}
#howwework .water .illus.fish06 {
  background-image: url(../images/_fishes/fish-06.png);
  width: 199px;
  height: 128px;
  left: 432px;
  top: 515px;
}
#howwework .water .illus.fish07 {
  background-image: url(../images/_fishes/fish-07.png);
  width: 103px;
  height: 68px;
  left: 425px;
  top: 620px;
}
#howwework .water .illus.fish08 {
  background-image: url(../images/_fishes/fish-08.png);
  width: 176px;
  height: 114px;
  left: 495px;
  top: 636px;
}
#howwework .water .illus.fishred {
  background-image: url(../images/_fishes/red-fish.png);
  width: 199px;
  height: 128px;
  left: 635px;
  top: 780px;
}
#howwework .water .illus.fishark {
  background-image: url(../images/_fishes/shark.png);
  width: 548px;
  height: 196px;
  left: 703px;
  top: 485px;
}
#howwework .path01 {
  height: 2500px;
  background: transparent url(../images/howwework/path01.gif) no-repeat scroll top left;
}
#howwework .path02 {
  height: 3900px;
  background: transparent url(../images/howwework/path02.gif) no-repeat scroll top left;
}
section.sec4 {
  background: #f4f4f4 url(../images/_textures/dust.png) repeat scroll top center;
}
section.sec4 article {
  padding-top: 50px;
}
section.sec4 article h2 {
  padding: 15px 0 20px 0;
  background: transparent url(../images/_coutures/couture-red.png) repeat-x scroll top left;
}
section.sec4 .colonne,
section.sec4 .colonnes {
  text-align: center;
}
section.sec4 .shadow {
  background: transparent url(../images/clients/shadow.png) no-repeat scroll top center;
}
section.sec4 .cinquante {
  height: 50%;
}
section.sec5 .encart {
  background: #f4f4f4 url(../images/_textures/dust.png) repeat scroll top center;
  position: absolute;
  z-index: 2;
  width: 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}
section.sec5 .encart article {
  padding-top: 20px;
  padding-bottom: 20px;
}
section.sec5 .encart article h2 {
  padding: 15px 0 20px 0;
  background: transparent url(../images/_coutures/couture-red.png) repeat-x scroll top left;
}
section.sec5 .encart .address,
section.sec5 .encart .instant,
section.sec5 .encart .copy {
  margin: 1em 0;
}
section.sec5 .encart .address {
  font-size: 12px;
}
section.sec5 .encart .instant,
section.sec5 .encart .instant a {
  color: #9d261d;
}
section.sec5 .encart .copy {
  font-size: 12px;
}
section.sec5 .maps {
  height: 100%;
  width: 10px;
  z-index: 1;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: #fff;
}
section.sec5 .maps .qua {
  background: #000000 url(../images/contact/agence-from-outdoor-03.jpg) no-repeat fixed bottom left;
  height: 150px;
  border-right: 10px solid #fff;
}
section.sec5 .maps .map {
  background: #000000 url(../images/contact/map-level02.jpg) no-repeat fixed center 30%;
  height: 300px;
}
.hidden {
  display: none;
  visibility: hidden;
}
