// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";


.sec3{
	text-align:center;
//	overflow:hidden; ? do i need this for webkit?
	.encart{
		text-align:left;
		position:absolute;
		width:100%;
		z-index:40;
		article{
			padding-top:50px;
			h2{
				padding:15px 0 20px 0;
				background: transparent url(../images/_coutures/couture-red.png) repeat-x scroll top left;
			}
		}
	}

	.sea{
		background-image: url(../images/howwework/water.png),url(../images/howwework/cristal.png); 
		background-attachment: scroll,scroll;
		background-repeat:repeat-x,repeat-x;
		background-position:top left,bottom center;
		z-index:100;
		width:100%;
		height:(1020px + 150px);
		top:1470px;
		left:0;
		position:absolute;
	}
}

#howwework {
	margin:0 auto;
	width:1440px;
	position:relative;
	text-align:left;
	
	.illus{
		background-color:transparent;
		background-repeat: no-repeat;
		background-position: top left;
		background-attachment: scroll;
		position: absolute;
		span{
			display:none;
		}
		/// generic
		&.yes{
			background-image: url(../images/_badges/yes.png);
			width:135px;
			height:120px;
			z-index:199;
			&.small{
				background-image: url(../images/_badges/yes-small.png);
				width:94px;
				height:81px;
			}
		}
		&.no{
			background-image: url(../images/_badges/no.png);
			width:125px;
			height:120px;
			z-index:199;
			&.small{
				background-image: url(../images/_badges/no-small.png);
				width:82px;
				height:81px;
			}
		}
		&.ab{ // arrow black
			background-image: url(../images/_arrows/arrow-black.png);
			width:40px;
			height:40px;
			z-index:200;
		}
		&.aw{ // arrow white
			background-image: url(../images/_arrows/arrow-white.png);
			width:40px;
			height:40px;
			z-index:200;
		}

		// #########################
		// # path02
		//


		// arrows
		//   white
		&.arrow00{ 
			left:595px;
			top:650px;
			.rotate(200deg); 
		}
		//   black
		&.arrow01{ 
			left:795px;
			top:211px;
			.rotate(305deg); 
		}
		&.arrow02{ 
			left:465px;
			top:472px;
			.rotate(30deg); 
		}
		&.arrow03{ 
			left:765px;
			top:952px;
			.rotate(180deg); 
		}
		&.arrow04{ 
			left:130px;
			top:1000px;
			.rotate(260deg); 
		}
		&.arrow05{ 
			left:435px;
			top:1230px;
			.rotate(90deg); 
		}
		&.arrow05bis{ 
			left:657px;
			top:1404px;
			.rotate(90deg); 
		}
		&.arrow06{ 
			left:255px;
			top:2085px;
			.rotate(231deg); 
		}
		
		&.welcome{
			background-image: url(../images/_badges/welcome.png);
			width:210px;
			height:210px;
			left:960px;
			top:70px;
			&.fixed{
				visibility:hidden;
			}
		}
		&.coffee{
			background-image: url(../images/_illustrations/cup-of-coffe-01.png);
			width:200px;
			height:200px;
			left:900px;
			top:290px;
		}
		&.coffeeribbon{
			background-image: url(../images/_ribbons/ribbon-01.png);
			width:320px;
			height:110px;
			left:830px;
			top:464px;
		}
		&.coffeeyes{
			left:700px;
			top:630px;
			.rotate(-10deg); 
		}
		&.coffeeno{
			left:873px;
			top:840px;
			.rotate(23deg); 
		}
		&.sugar{
			background-image: url(../images/_illustrations/sugar.png);
			width:310px;
			height:120px;
			left:240px;
			top:530px;
		}
		&.sugarribbon{
			background-image: url(../images/_ribbons/ribbon-02.png);
			width:350px;
			height:55px;
			left:223px;
			top:630px;
		}
		&.sugarwith{
			background-image: url(../images/_badges/with.png);
			width:100px;
			height:100px;
			left:315px;
			top:770px;
		}
		&.sugarwithout{
			background-image: url(../images/_badges/without.png);
			width:100px;
			height:100px;
			left:450px;
			top:770px;
		}

		&.cloud01{
			background-image: url(../images/_illustrations/cloud-01.png);
			width:133px;
			height:87px;
			left:300px;
			top:900px;
		}
		&.cloud02{
			background-image: url(../images/_illustrations/cloud-02.png);
			width:85px;
			height:59px;
			left:450px;
			top:970px;
		}
		&.cloud03{
			background-image: url(../images/_illustrations/cloud-03.png);
			width:111px;
			height:67px;
			left:600px;
			top:900px;
		}

		&.visionribbon{
			background-image: url(../images/_ribbons/ribbon-03.png);
			width:381px;
			height:105px;
			left:310px;
			top:1100px;
		}

		&.visionyes{
			left:800px;
			top:1230px;
			.rotate(-20deg); 
		}

		&.ascenceur{
			width:155px;
			height:291px;
			left:1000px;
			top:1140px;
			overflow:hidden;

			.illus.aiguille{
				background-image: url(../images/_ascenceur/aiguille.png);
				width:70px;
				height:7px;
				left:43px;
				top:45px;
			}

			.illus.interior{
				background-image: url(../images/_ascenceur/interior.png);
				width:142px;
				height:228px;
				left:7px;
				top:57px;
			}
			.illus.contour{
				background-image: url(../images/_ascenceur/contour.png);
				width:155px;
				height:291px;
				left:0px;
				top:0px;
			}
			.illus.doors{
//				background-color:rgba(255,0,0,.2);
				width:130px;
				height:211px;
				left:17px;
				top:68px;
				overflow:hidden;
				.illus{
					width:61px;
					height:207px;
					background-size:61px;
				}
				.illus.dleft{
					background-image:url(../images/_ascenceur/left-door.png);
					left:0;
				}
				.illus.dright{
					background-image:url(../images/_ascenceur/right-door.png);
					left:61px;
				}
			}
			&.asc2{
				top:2565px;
				.illus.aiguille{
					transform: rotate(0.5turn);
				}
			}
		}

		// look .water too
		&.boat{
			background-image: url(../images/_illustrations/boat.png);
			width:322px;
			height:213px;
			left:356px;
			top:1297px;
			.fil.peche{
				position:absolute;
				background-color:#333;
				width:1px;
				height:(300 + 213 - 73px);
				left:320px;
				top:73px;
			}
			
		}
		// birds
		&.birds{
			background-image: url(../images/_illustrations/birds.png);
			width:73px;
			height:60px;
			left:210px;
			top:1250px;
		}
		&.agencyno{
			left:328px;
			top:2220px;
			.rotate(27deg); 
		}

		// #########################
		// # path02
		// c'est reparti

		&.coffre{
			background-image: url(../images/_illustrations/coffre.png);
			width:185px;
			height:177px;
			top:2355px;
			left:95px;
			z-index:101; // let this object be over the water, not under
		}
		&.bubblecoffre{
			background-image: url(../images/_illustrations/bubble-small.png);
			width:41px;
			height:88px;
			left:148px;
			top:2259px;
			z-index:107; // let this object be over the water, not under
		}
		&.coffreyes{
			top:2526px;
			left:182px;
			.rotate(5deg);
		}
		&.usfindoutribbon{
			background-image: url(../images/_ribbons/ribbon-05.png);
			width:306px;
			height:91px;
			top:2436px;
			left:368px;
			z-index:102; // let this object be over the water, not under
		}
		&.hookno{
			top:2436px;
			left:595px;
			.rotate(30deg);
		}
		&.couldfindoutribbon{
			background-image: url(../images/_ribbons/ribbon-06.png);
			width:309px;
			height:84px;
			top:2447px;
			left:697px;
			z-index:104; // let this object be over the water, not under
		}
		&.couldfindoutyes{
			top:2554px;
			left:747px;
			.rotate(5deg);
		}
		&.notebook{
			background-image: url(../images/_illustrations/notebook.png);
			width:576px;
			height:448px;
			left:110px;
			top:2617px;
			z-index:100;
		}
		&.paper{
			background-image: url(../images/_illustrations/paper.png);
			width:591px;
			height:487px;
			left:401px;
			top:2763px;
			z-index:100;
		}
		&.clock{
			background-image: url(../images/_clock/bg-clock.png);
			width:100px;
			height:102px;
			left:315px;
			top:3121px;
			z-index:100;
		}
		&.clock.hour{
			background-image: url(../images/_clock/hour.png);
			z-index:101;
		}
		&.clock.minute{
			background-image: url(../images/_clock/minute.png);
			z-index:102;
		}
		&.questionmark{
			background-image: url(../images/_badges/questionmark.png);
			width:105px;
			height:105px;
			left:740px;
			top:3010px;
			z-index:108; // let this object be over the water, not under
		}
		// arrows under cristals
		//   white
		&.arrow07{ 
			left:635px;
			top:2570px;
			.rotate(136deg); 
		}
		&.arrow08{ 
			left:235px;
			top:2600px;
			.rotate(94deg); 
		}
		&.arrow09{ 
			left:800px;
			top:2718px;
			.rotate(177deg); 
		}
		&.arrow10{ 
			left:235px;
			top:3050px;
			.rotate(55deg); 
		}
		&.arrow11{ 
			left:127px;
			top:3205px;
			.rotate(269deg); 
		}
		&.arrow12{ 
			left:920px;
			top:3395px;
			.rotate(110deg); 
		}
		&.arrow13{ 
			left:415px;
			top:3683px;
			.rotate(202deg); 
		}
		&.arrow14{ 
			left:915px;
			top:3867px;
			.rotate(46deg); 
		}
		&.arrow15{ 
			left:1035px;
			top:4110px;
			.rotate(24deg); 
		}
		&.arrow16{ 
			left:890px;
			top:4662px;
			.rotate(136deg); 
		}
		&.arrow17{ 
			left:272px;
			top:5996px;
			.rotate(59deg); 
		}
		//   black
		&.arrow18{ 
			left:96px;
			top:3155px;
			.rotate(283deg); 
		}
		&.arrow19{ 
			left:168px;
			top:3168px;
			.rotate(253deg); 
		}
		&.arrow20{ 
			left:315px;
			top:3590px;
			.rotate(88deg); 
		}
		&.arrow21{ 
			left:69px;
			top:3858px;
			.rotate(255deg); 
		}
		&.arrow22{ 
			left:177px;
			top:3850px;
			.rotate(97deg); 
		}
		&.arrow23{ 
			left:1364px;
			top:3970px;
			.rotate(267deg); 
		}
		&.arrow24{ 
			left:1290px;
			top:4250px;
			.rotate(129deg); 
		}
		&.arrow25{ 
			left:1118px;
			top:4336px;
			.rotate(78deg); 
		}
		&.arrow26{ 
			left:1362px;
			top:4636px;
			.rotate(84deg); 
		}
		&.arrow27{ 
			left:800px;
			top:4657px;
			.rotate(173deg); 
		}
		&.arrow28{ 
			left:1090px;
			top:4732px;
			.rotate(122deg); 
		}
		&.arrow29{ 
			left:1280px;
			top:5545px;
			.rotate(298deg); 
		}
		// "no" under cristals
		// todo, à placer, paskeu sa flotte
		&.understandno{
			top:3078px;
			left:558px;
			.rotate(-13deg);
		}
		&.understandyes{
			top:3090px;
			left:873px;
			.rotate(-10deg);
		}
		&.budgetno{
			top:3430px;
			left:300px;
			.rotate(16deg);
		}
		&.bag{
			background-image: url(../images/_illustrations/bag.png);
			width:191px;
			height:280px;
			top:3375px;
			left:450px;
		}
		&.money{
			background-image: url(../images/_illustrations/money.png);
			width:217px;
			height:69px;
			top:3608px;
			left:372px;
		}
		&.budgetribbon{
			background-image: url(../images/_ribbons/ribbon-07.png);
			width:246px;
			height:127px;
			top:3480px;
			left:455px;
		}
		&.budgetyes{
			top:3580px;
			left:728px;
			.rotate(13deg);
		}
		&.maybe{
			background-image: url(../images/_badges/maybe.png);
			width:133px;
			height:116px;
			top:3677px;
			left:523px;
			.rotate(-12deg);
		}
		&.futureribbon{
			background-image: url(../images/_ribbons/ribbon-08.png);
			width:251px;
			height:133px;
			top:3717px;
			left:253px;
		}
		&.futureno{
			top:3710px;
			left:105px;
			.rotate(16deg);
    	}
		&.out{
			background-image: url(../images/_badges/out.png);
			width:214px;
			height:213px;
			top:3899px;
			left:67px;
		}
		&.coffemaker{
			background-image: url(../images/_illustrations/coffe-maker.png);
			width:226px;
			height:300px;
			top:3713px;
			left:1040px;
		}
		&.smoke{
			background-image: url(../images/_illustrations/smoke.png);
			width:23px;
			height:113px;
			top:3634px;
			left:1046px;
		}
		&.morecoffeeribbon{
			background-image: url(../images/_ribbons/ribbon-10.png);
			width:225px;
			height:59px;
			top:3862px;
			left:1025px;
		}
		&.morecoffeeno{
			top:3935px;
			left:1205px;
			.rotate(16deg);
		}
		&.morecoffeeyes{
			top:3950px;
			left:871px;
			.rotate(-5deg);
		}
		&.radial.chess{ // background
			background-image: url(../images/howwework/radial-gradient.png);
			opacity:.5;
			width:1440px;
			height:720px;
			top:3730px;
			left:0px;
		}
		&.coffeesmall{
			background-image: url(../images/_illustrations/cup-of-coffe-02.png);
			width:132px;
			height:140px;
			top:4090px;
			left:1155px;
		}
		&.blurwhitechess{
			background-image: url(../images/_illustrations/chess-02.png);
			width:165px;
			height:330px;
			top:4115px;
			left:972px;
		}
		&.strategyribbon{
			background-image: url(../images/_ribbons/ribbon-11.png);
			width:385px;
			height:115px;
			top:4200px;
			left:795px;
    	}
		&.whitechess{
			background-image: url(../images/_illustrations/chess-01.png);
			width:246px;
			height:497px;
			top:3948px;
			left:663px;
			z-index:105;
		}
		&.blackchess{
			background-image: url(../images/_illustrations/chess-03.png);
			width:171px;
			height:352px;
			top:4000px;
			left:530px;
			-moz-transform-origin: right bottom;
			-webkit-transform-origin: 0 100%;
			transform-origin: bottom right;
//			.rotate(-98deg);
		}
		&.exclamation{
			background-image: url(../images/_illustrations/exclamation.png);
			width:125px;
			height:240px;
			top:4347px;
			left:502px;
//			transform: rotate(30deg);
//			transform-origin: -130px 0em;
		}
		&.radial.glass{ // background
			background-image: url(../images/howwework/radial-gradient.png);
			opacity:.5;
			width:1440px;
			height:720px;
			top:4900px;
			left:0px;
		}
		&.strategyno{
			top:4591px;
			left:583px;
			.rotate(-18deg);
		}
		&.strategyes{
			top:4569px;
			left:937px;
			.rotate(-4deg);
		}
		&.designo{
			top:4791px;
			left:1009px;
			.rotate(13deg);
		}
		&.designribbon{
			background-image: url(../images/_ribbons/ribbon-09.png);
			width:399px;
			height:52px;
			top:4842px;
			left:524px;
		}
		&.color{
			background-image: url(../images/_illustrations/all_color.png);
			width:375px;
			height:275px;
			top:4950px;
			left:539px;
			z-index:122;
		}
		&.filetcouleurs{
			background-image: url(../images/_illustrations/filet_couleurs.png);
			width:155px;
			height:760px;
			top:4657px;
			left:789px;
		}
		&.box{
			background-image: url(../images/_illustrations/est-box.png);
			width:566px;
			height:574px;
			top:5312px;
			left:444px;
		}
		&.boxshadow{
			background-image: url(../images/_illustrations/est-box-shadow.png);
			width:1242px;
			height:567px;
			top:5668px;
			left:151px;
		}
		&.leftglass{
			background-image: url(../images/_illustrations/verre.png);
			width:105px;
			height:364px;
			top:5249px;
			left:1030px;
		}
		&.rightglass{
			background-image: url(../images/_illustrations/verre.png);
			width:105px;
			height:364px;
			top:5196px;
			left:1174px;
			.rotate(-16deg);
		}
		&.readyno{
			top:5618px;
			left:1159px;
			.rotate(34deg);
		}
		&.readyes{
			top:5812px;
			left:252px;
			.rotate(-7deg);
		}
		&.ruler{
			background-image: url(../images/_illustrations/rulerfull.png);
			width:952px;
			height:260px;
			top:5892px;
			left:274px;
			.rotate(1deg);
		}
	} // .illus
	.water{
//		background-image: url(../images/howwework/water.png),url(../images/howwework/cristal.png); 
//		background-attachment: scroll,scroll;
//		background-repeat:repeat-x,no-repeat;
//		background-position:top left,bottom left;
		z-index:100;
		width:100%;
		height:(1020px + 150px);
		top:1500px;
		left:0;
		position:absolute;
		.fil.peche{
			position:absolute;
			background-color:#333;
			width:1px;
			height:1130px;
			left:676px;
			top:0;
		}
		.illus.hamecon.peche{
			background-image: url(../images/howwework/hamecon.png);
			width:15px;
			height:30px;
			top:1129px;
			left:665px;
		}
		.illus{
			&.doyouknowribbon{
				background-image: url(../images/_ribbons/ribbon-04.png);
				width:250px;
				height:55px;
				left:650px;
				top:50px;
			}
			&.bubblebig{
				background-image: url(../images/_illustrations/bubble-big.png);
				width:226px;
				height:461px;
				left:53px;
				top:125px;
			}
			&.bubblemed{
				background-image: url(../images/_illustrations/bubble-med.png);
				width:62px;
				height:132px;
				left:904px;
				top:688px;
			}
			&.bubblesmall01{
				background-image: url(../images/_illustrations/bubble-small.png);
				width:41px;
				height:88px;
				left:903px;
				top:170px;
			}
			&.bubblesmall02{
				background-image: url(../images/_illustrations/bubble-small.png);
				width:41px;
				height:88px;
				left:624px;
				top:392px;
			}
			&.bubblesmall03{
				background-image: url(../images/_illustrations/bubble-small.png);
				width:41px;
				height:88px;
				left:553px;
				top:773px;
			}
			&.fish01{
				background-image: url(../images/_fishes/fish-01.png);
				width:164px;
				height:106px;
				left:540px;
				top:120px;
			}	
			&.fish02{
				background-image: url(../images/_fishes/fish-02.png);
				width:223px;
				height:143px;
				left:580px;
				top:260px;
			}
			&.fish03{
				background-image: url(../images/_fishes/fish-03.png);
				width:103px;
				height:68px;
				left:675px;
				top:370px;
			}
			&.fish04{
				background-image: url(../images/_fishes/fish-04.png);
				width:176px;
				height:114px;
				left:740px;
				top:370px;
			}
			&.fish05{
				background-image: url(../images/_fishes/fish-05.png);
				width:199px;
				height:128px;
				left:365px;
				top:357px;
			}
			&.fish06{
				background-image: url(../images/_fishes/fish-06.png);
				width:199px;
				height:128px;
				left:432px;
				top:515px;
			}
			&.fish07{
				background-image: url(../images/_fishes/fish-07.png);
				width:103px;
				height:68px;
				left:425px;
				top:620px;
			}
			&.fish08{
				background-image: url(../images/_fishes/fish-08.png);
				width:176px;
				height:114px;
				left:495px;
				top:636px;
			}
			&.fishred{
				background-image: url(../images/_fishes/red-fish.png);
				width:199px;
				height:128px;
				left:635px;
				top:780px;
			}
			&.fishark{
				background-image: url(../images/_fishes/shark.png);
				width:548px;
				height:196px;
				left:703px;
				top:485px;
			}
		} // .water .illus
	} // .water
	
	
	.path01{
		height:2500px;
		background: transparent url(../images/howwework/path01.gif) no-repeat scroll top left;
	}
	.path02{
		height:3900px;
		background: transparent url(../images/howwework/path02.gif) no-repeat scroll top left;
	}
}

