//mobile version


// Core variables and mixins
@import "variables.less";
@import "mixins.less";

// reset font size
body{
	font: normal normal normal 1em Helvetica, Arial, sans-serif;
	line-height:1.5em;
}

// sections
// display all of them
section,section.sec4,section,section.sec5{
	display:block;
}
section.sec0{

	.cover{
		background-image: url("../images/home/bg-600.jpg");
	}
	.intro{
		background-image: url("../images/home/patch@2x.png");
		.background-size(225px);
		top:10px;
		.baseline{
			width: 220px;
			.background-size(220px);
		}
	}
}


section.sec5{
	.copy{
		display:none;
	}
	.maps{
		height:300px;
		width:100%;
		.map{
			height:900px;
			width:100%
		}
	}
}



// generic stuffs
article{
	padding:1em;
	text-align:left;
}

// nogrid
.grille .un,
.grille .deux,
.grille .trois,
.grille .quatre,
.grille .cinq,
.grille .six,
.grille .sept,
.grille .huit,
.grille .neuf,
.grille .dix{
	float:none;
	width:100%;
}